@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "archivo", sans-serif;
  }
}

@layer components {
  details > summary {
    list-style-type: "+";
  }

  details[open] > summary {
    list-style-type: "-";
  }
}
/*GENERAL*/
html {
  scroll-behavior: smooth;
}
body {
  cursor: none;
}
a:hover {
  cursor: none;
}

details[open] > summary > span {
  color: #5b4b96;
}
/*.addFont {
    font-family: "orpheuspro", serif;
  
  }*/
/*CURSOR*/
#cursor {
  background-color: black;
  border-radius: 25px;
  height: 20px;
  width: 20px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

#aboutMe {
  background-color: white;
}

/*BANNER*/
.addFont {
  font-family: "Archivo", sans-serif;
}

.banner-inner {
  animation: myBanner 20s linear infinite;
  display: inline-block;
  position: relative;
}

.banner-copy-before {
  position: absolute;
  right: calc(100% + 0.25em);
}
.banner-copy-after {
  position: absolute;
  left: calc(100% + 0.25em);
}
/*FADE IN*/
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1.5s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/*ANIMATIONS*/

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@keyframes rotateMe {
  to {
    transform: rotate(0deg);
  }
  to {
    transform: translateX(-45%);
  }
}

@keyframes myBanner {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 0.25em));
  }
}
