@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "archivo", sen-serif;
  }
}

@layer components {
  details > summary {
    list-style-type: "+";
  }

  details[open] > summary {
    list-style-type: "-";
  }
}

/*stroke {
    -webkit-text-stroke: 2px white;
  }*/
html {
  scroll-behavior: smooth;
}

.flip {
  transform: rotate(90deg);
}

.mymail {
  animation: rotateMe 0.5s linear forwards;
}

/*.addFont {
    font-family: "orpheuspro", serif;
  
  }*/
.cirkle {
  height: 200px;
  width: 200px;
}
@media screen and (min-width: 900px) {
  .cirkle {
    height: 350px;
    width: 350px;
  }
}
/*e-mail color change*/
body {
  background-color: #dcdcdc;
}
#aboutMe {
  background-color: #654b96;
}
#myMail {
  top: 30px;
}
/*.dark-color {
  color: #654b96;
}
.light-color {
  color: #cdff7c;
}
.invertEmail {
  mix-blend-mode: difference;
}*/
.midnightHeader.default {
  color: #654b96;
}
.midnightHeader.greenText {
  color: #cdff7c;
}

.animate-charcter {
  background-image: linear-gradient(
    -225deg,
    #654b96 0%,
    #cdff7c 29%,
    #853bd4 67%,
    #cdff7c 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 4s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/*BANNER*/
.addFont {
  font-family: "Archivo", sans-serif;
}

.banner-inner {
  animation: myBanner 20s linear infinite;
  display: inline-block;
  position: relative;
}

.banner-copy-before {
  position: absolute;
  right: calc(100% + 0.25em);
}
.banner-copy-after {
  position: absolute;
  left: calc(100% + 0.25em);
}
/*FADE IN*/
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1.5s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/*ANIMATIONS*/

@keyframes rotateMe {
  to {
    transform: rotate(0deg);
  }
  to {
    transform: translateX(-45%);
  }
}

@keyframes myBanner {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 0.25em));
  }
}
